This is a static website generator. You can learn more about static at https://static.devdojo.com.

Static is a static HTML website generator. It allows developers and designer the ability to easily create websites using only HTML.

Users can create layouts like this:

```html
<!DOCTYPE html>
<html lang="en">

<head>
    <title>{title}</title>
</head>

<body>
    {slot}
</body>

</html>
```

and easily use the layouts in any page by adding this:

```html
<layout src="layouts/main.html">
    <h1>Static</h1>
</layout>
```

Users can also loop through content and much more.

This is a Node JS static website builder.